@import "./shared.scss";

.container {
    padding: 18px;

    .title {

        font-size: 32px;
        font-weight: 900;
        margin-bottom: 36px;
    }

    .content {

        display: grid;
        grid-template-columns: auto;
        gap: 36px 30px;
        margin-top: 18px;

        @media screen and (min-width: $medium) {
            grid-template-columns: 1fr 1fr;
        }
    }

    .xxx {
        position: fixed;
        width: 50px;
        height: 50px;
        right: 18px;
        bottom: 18px;
        background-color: red;
    }
}