%align-items-vertical {
	display: flex;
	align-items: center;
}

%center-items {
	@extend %align-items-vertical;
	justify-content: center;
}

%space-between {
	display: flex;
	justify-content: space-between;
}

%flex-left {
	display: flex;
	justify-content: flex-start;
}

%vertical-list {
	display: flex;
	flex-direction: column;
}