@import "./shared.scss";

.container {
    height: 268px;
    @extend %base-card;

    .title {
        font-size: 25px;
        font-weight: 900;
    }

    .amount {
        background-color: $primary-color;
        color: white;
        height: 400px;
        min-width: 200px;
        padding: 0 24px;
        border-top-left-radius: 200px;
        border-bottom-left-radius: 200px;
        position: absolute;
        right: 0;
        @extend %align-items-vertical;
        justify-content: center;

        .whole {
            font-size: 45px;
            font-weight: 800;
        }

        .float {
            opacity: 0.31;
            font-size: 19px;

        }

    }
}